<div class="content">
  <div *ngIf="status === 'newUser'">
    <h1>Enter Name:</h1>
    <input type="text" id="username" name="username" #username>
    <button type="button" (click)="newUsername = username.value; status = 'selectAction'">Continue</button>
  </div>

  <div *ngIf="status === 'selectAction'">
    <h1>Entry Existing Group</h1>
    <button (click)="status = 'joinGroup'">Entry</button>
    <h1>Create New Group</h1>
    <button (click)="newGroupClicked()">Create</button>
  </div>

  <div *ngIf="status === 'joinGroup'">
    <h1>Enter Invite Code:</h1>
    <input type="text" id="invite" name="invite" #invite>
    <button type="button" (click)="joinClicked(invite.value)">Continue</button>
  </div>
</div>
