.content
{
	display: flex;
  flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: #1d2b3a;
  gap: 30px;
  padding-top: 100px;
}

.inputBox {
  position: relative;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
	font-size: 1em;
  letter-spacing: 0.2em;
  border: 1px solid #00dfc4;
  border-radius: 5px;
}

p {
  font-size: 1em;
  letter-spacing: 0.2em;
  color: rgb(214, 214, 214);
}

.back-button {
  position: absolute;
  bottom: 15vh;
}
