<div class="content" *ngIf="status === 'newUser'">
  <div class="inputBox">
    <input type="text" id="username" name="username" #username />
    <span>Enter Name</span>
  </div>
  <button class="common-button" type="button" (click)="newUserClicked(username.value)">
    Continue
  </button>
</div>

<div class="content" *ngIf="status === 'selectAction'">
  <div class="text"><p>Join Existing Household</p></div>
  <button class="common-button" (click)="status = 'joinHouse'">Join</button>
  <div class="text"><p>Create New Household</p></div>
  <button class="common-button" (click)="status = 'createHouseChoose'">Create</button>
</div>

<div class="content" *ngIf="status === 'createHouseChoose'">
  <div class="text"><p>Create New Household</p></div>
  <div class="inputBox">
    <input type="text" id="housename" name="housename" #housename />
    <span>House Name</span>
  </div>
  <button class="common-button" (click)="newHouseClicked(housename.value)">OK</button>
  <button class="common-button back-button" (click)="backToSelectActionClicked()">
    BACK
  </button>
</div>

<div class="content" *ngIf="status === 'joinHouse'">
  <div class="inputBox">
    <input type="text" id="invite" name="invite" #invite />
    <span>Invite Code</span>
  </div>
  <button class="common-button" type="button" (click)="joinClicked(invite.value)">Continue</button>
  <button class="common-button back-button" (click)="backToSelectActionClicked()">
    BACK
  </button>

  <p *ngIf="wrongCodeStatus === 'wrongCode'">
    Code must be valid and 4 digit long
  </p>
</div>
