<div class="content">
  <div class="buttons" *ngIf="status === 'selectAction'">
    <button (click)="changeNameClicked()">Change Name</button>
    <button (click)="changeHouseNameClicked()">Change House Name</button>
    <button (click)="leaveHouseClicked()">Leave House</button>
  </div>

  <div class="change-name" *ngIf="status === 'changeName'">
    <h1>Enter Name</h1>
    <input type="text" id="newName" name="newName" #newName>
    <button (click)="confirmClicked(newName.value)">OK</button>
    <button (click)="cancelClicked()">Cancel</button>
  </div>

  <div class="change-house-name" *ngIf="status === 'changeHouseName'">
    <h1>Enter Name</h1>
    <input type="text" id="newHouseName" name="newHouseName" #newHouseName>
    <button (click)="confirmHouseClicked(newHouseName.value)">OK</button>
    <button (click)="cancelClicked()">Cancel</button>
  </div>

  <div class="leave-house" *ngIf="status === 'leaveHouse'">
    <h1>Are You Sure?</h1>
    <button (click)="leaveHouseConfirmed()">YES</button>
    <button (click)="cancelClicked()">NO</button>
  </div>

  <button class="close" (click)="onNoClick()">Close</button>
</div>
