.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1b1d;
}

.buttons {
  background: none;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(86, 33, 136);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.close {
  position: absolute;
  bottom: 20%;
}

h1 {
  background: none;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
  color: rgb(211, 211, 211);
}

input {
  border: solid #ffffff 1px;
  width: 60vw;
  height: 30px;
  position: relative;
}

.change-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1b1d;
}

.change-house-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1b1d;
}

.leave-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1b1d;
}
