<div class="content">
  <div *ngIf="status === 'newUser'">
    <h1>Enter Name:</h1>
    <input type="text" id="username" name="username" #username />
    <button
      type="button"
      (click)="newUserClicked(username.value)"
    >
      Continue
    </button>
  </div>

  <div *ngIf="status === 'selectAction'">
    <div>
      <h1>Join Existing Household</h1>
      <button (click)="status = 'joinHouse'">Join</button>
    </div>
    <h1>Create New Household</h1>
    <button (click)="status = 'createHouseChoose'">Create</button>
  </div>

  <div *ngIf="status === 'createHouseChoose'">
    <h1>Create New Household</h1>
    <h1>Enter Name:</h1>
    <input type="text" id="housename" name="housename" #housename />
    <button (click)="newHouseClicked(housename.value)">OK</button>
  </div>

  <div *ngIf="status === 'joinHouse'">
    <h1>Enter Invite Code:</h1>
    <input type="text" id="invite" name="invite" #invite />
    <button type="button" (click)="joinClicked(invite.value)">Continue</button>
  </div>
</div>
