<div class="content">
  <div class="header">
    <h1>{{ (productTree | async)!.houseName }}</h1>
    <button class="settings-button" (click)="settingsClicked()">
      <ion-icon name="settings-outline"></ion-icon>
    </button>
  </div>
  <div *ngFor="let user of (productTree | async)!.productsByUser | keyvalue">
    <div class="list-header">
      <div class="user-data">
        <h1 class="user-name">
          {{ user.key }}
        </h1>
        <h1 class="products-count">{{ countProducts(user.value) }}</h1>
      </div>
      <div class="user-products-list">
        <div>
          <button (click)="removeUserBoughtProductsClicked()">
            <ion-icon class="cross" name="close-outline"></ion-icon>
          </button>
        </div>
        <div class="after-dropdown">
          <button (click)="toggleUserPanel(panel)">
            <ion-icon
              class="dropdown-button"
              name="caret-down-outline"
            ></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dropdown-list" #panel>
      <button
        class="product"
        *ngFor="let product of toArray(user.value)"
        (click)="toggleBought(product)"
      >
        <h1 class="product-name" [ngClass]="{ bought: product.bought }">
          {{ product.name }}
        </h1>
        <ion-icon
          class="checkmark"
          name="checkmark-outline"
          *ngIf="product.bought"
        ></ion-icon>
      </button>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-buttons">
    <button class="footer-icon" (click)="generateInviteCode()">
      <ion-icon name="person-add-outline"></ion-icon>
    </button>
    <button class="footer-icon" (click)="addProductClicked()">
      <ion-icon name="add-outline"> </ion-icon>
    </button>
    <button class="footer-icon" (click)="clearHouseClicked()">
      <ion-icon name="trash-bin-outline"></ion-icon>
    </button>
  </div>
</div>
