/*-------------------GLOBAL STYLES-------------------*/

h1 {
  color: rgb(214, 214, 214);
  background: none;
}

 ion-icon {
  color: #00dfc4;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  font-size: 180%;
}

/*-------------------HEADER-------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151d25;
  height: 60px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.settings-button {
  position: absolute;
  right: 2%;
  background: none;
  font-size: 100%;
  margin: 0 auto;
}

/*-------------------SITE CONTENT-------------------*/

.content {
  margin: 0 auto;
  position: relative;
  background: #1d2b3a;
  height: calc(100% - 130px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/*-------------------USER LIST HEADER-------------------*/

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  height: 80px;
  border: 0.2px solid rgb(49, 49, 49);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-bottom: none;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}

.user-name {
  margin: 0 auto;
  margin-left: 2%;
  color: rgb(211, 211, 211);
  background: none;
  font-size: 1.5rem;
}

.products-count {
  margin: 0 auto;
  margin-left: 30px;
  font-size: 1.5rem;
}

.user-panel-button {
  height: 30px;
  width: 30px;
  padding: 0;
  background: none;
  border: 1px solid #00dfc4;
  border-radius: 5px;
  margin-right: 10px;
}

/*-------------------USER'S PRODUCTS LIST-------------------*/

.user-products-list {
  margin: 0 auto;
  margin-right: 2%;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.after-dropdown {
  position: relative;
}

.dropdown-list {
  position: relative;
  width: 100%;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border: 0.2px solid rgb(49, 49, 49);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-top: none;
}

.collapsed {
  display: none;
}

.product {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  margin-top: 5px;
  border-bottom: 0.2px solid rgb(49, 49, 49);
  background: none;
}

.product-name {
  margin: 0 auto;
  margin-left: 2%;
  color: rgb(211, 211, 211);
  background: none;
  font-size: 1rem;
}

.checkmark {
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.bought{
  text-decoration: line-through;
}

/*-------------------FOOTER-------------------*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151d25;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-radius: 10px 10px 0 0;
}

.footer-buttons {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.footer-icon {
  color: rgb(211, 211, 211);
  background: none;
  cursor: pointer;
  font-size: 20px;
}
