/*-------------------GLOBAL STYLES-------------------*/

h1 {
  color: rgb(211, 211, 211);
  background: none;
}

 ion-icon {
  color: rgb(211, 211, 211);
  background: none;
  cursor: pointer;
  margin: 0 auto;
  font-size: 180%;
}

/*-------------------HEADER-------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b1d;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.settings-button {
  position: absolute;
  right: 2%;
  background: none;
  font-size: 100%;
  margin: 0 auto;
}

/*-------------------SITE CONTENT-------------------*/

.content {
  margin: 0 auto;
  width: 98vw;
  scroll-behavior: smooth;
  overflow: auto;
  min-height: 1000px;
  max-height: 1000px;
  position: relative;
}

.content::-webkit-scrollbar {
  width: 0;
}

/*-------------------USER LIST HEADER-------------------*/

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  height: 80px;
  border: 0.2px solid rgb(49, 49, 49);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-bottom: none;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}

.user-name {
  margin: 0 auto;
  margin-left: 2%;
  color: rgb(211, 211, 211);
  background: none;
  font-size: 1.5rem;
}

.products-count {
  margin: 0 auto;
  margin-left: 30px;
  font-size: 1.5rem;
}

/*-------------------USER'S PRODUCTS LIST-------------------*/

.user-products-list {
  margin: 0 auto;
  margin-right: 2%;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.after-dropdown {
  position: relative;
}

.dropdown-list {
  position: relative;
  width: 100%;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border: 0.2px solid rgb(49, 49, 49);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-top: none;
}

.collapsed {
  display: none;
}

.product {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  margin-top: 5px;
  border-bottom: 0.2px solid rgb(49, 49, 49);
}

.product-name {
  margin: 0 auto;
  margin-left: 2%;
  color: rgb(211, 211, 211);
  background: none;
  font-size: 1rem;
}

.checkmark {
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.bought{
  text-decoration: line-through;
}

/*-------------------FOOTER-------------------*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1b1d;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-buttons {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.footer-icon {
  color: rgb(211, 211, 211);
  background-color: #1a1b1d;
  cursor: pointer;
  font-size: 20px;
}
