<div class="content">
  <li *ngFor="let post of postsArray">
    <div class="list-header">
      <h1 class="name">
        Owner Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
          productsArray.length
        }}
      </h1>
      <div class="x">
        <div>
          <button>
            <ion-icon class="cross" name="close-outline"></ion-icon>
          </button>
        </div>
        <div class="dropdown">
          <button (click)="shouldShow = !shouldShow">
            <ion-icon
              class="dropdown-button"
              name="caret-down-outline"
            ></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dropdown-list" [ngClass]="{ show: shouldShow, hide: !shouldShow }">
      <button class="product" *ngFor="let product of productsArray">
        <h1 class="product-name">
          Product &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1
        </h1>
        <ion-icon class="checkmark" name="checkmark-outline"></ion-icon>
      </button>
    </div>
  </li>
</div>
