.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding-top: 50px;
  background: #1d2b3a;
  border: solid 2px black;
}

.inputBox {
  position: relative;
}
