html, body {
 height: 100%;
 width: 100%;
 overflow: hidden !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*-------------------INPUT BOX-------------------*/

.inputBox
{
	width: 250px;
}
.inputBox input
{
	padding: 10px 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	width: 100%;
	background: #1d2b3a;
	border: 1px solid rgba(255,255,255,0.25);
	color: #fff;
	font-size: 1em;
	transition: 0.5s;
}
.inputBox span
{
	position: absolute;
	left: 0;
	padding: 10px 10px;
	pointer-events: none;
	font-size: 1em;
	transition: 0.5s;
	text-transform: uppercase;
	color: rgba(255,255,255,0.25);
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
	color: #00dfc4;
	font-size: 0.65em;
	transform: translateX(10px) translateY(-7px);
	padding: 0 5px;
	background: #1d2b3a;
	border-left: 1px solid #00dfc4;
	border-right: 1px solid #00dfc4;
	letter-spacing: 0.2em;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
	border-radius: 2px;
	background: #00dfc4;
	color: #1d2b3a;
}
.inputBox input:valid,
.inputBox input:focus
{
	border: 1px solid #00dfc4;
}

/*-------------------BUTTON-------------------*/

button
{
  width: 150px;
  height: 40px;
	font-size: 1em;
  letter-spacing: 0.2em;
  background: #00dfc4;
  border-radius: 5px !important;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
	font-size: 1em;
  letter-spacing: 0.2em;
  border: 1px solid #00dfc4;
  border-radius: 5px;
}


