.content
{
	display: flex;
  flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: #1d2b3a;
  gap: 30px;
  padding-top: 80px;
}

.inputBox {
  position: relative;
}

.back-button {
  position: absolute;
  bottom: 15vh;
}
